<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Login</h1>

    <!-- Flash messages filtered by the 'login_error' category -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'login_error' %}
    <div class="alert alert-danger">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Login Form -->
    <form action="/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="container col-xs-11 col-sm-11 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="container col-xs-11 col-sm-11 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <div class=" padding container col-xs-11 col-sm-11 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <button type="submit"
                class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% endblock %}